<%= simple_form_for(@cm_category) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_CM, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.association :cp_category, label:'Categoría' %>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.input :nombre_CM, label:'Sub Categoría' %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.input :estado_CM, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
