<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles Sub Categoría</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo:</strong>
          <%= @cm_category.codigo_CM %>
        </p>
        <p>
          <strong>Categoría:</strong>
          <%= @cm_category.cp_category.nombre_CP %>
        </p>
        <p>
          <strong>Sub Categoría:</strong>
          <%= @cm_category.nombre_CM %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%=  @cm_category.estado_CM  ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', cm_categories_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
