<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="container">
	<%= image_tag("inicio1.png", class: "img-responsive") %>
	<%= button_to "Ver Más", static_pages_our_history_path, class: "btn btn-primary btn-responsive", :id => "buttom1" %>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>¿Quiénes somos?</h3>
      <p>Una empresa lider que genera soluciones inteligentes en TIC.</p>
    </div>
    <div class="col-sm-4">
      <h3>¿Qué hacemos?</h3>
      <p>Proveemos servicios de administracion de infraestructura, networking, outsourcing en sistemas y licenciamiento.</p>
    </div>
    <div class="col-sm-4">
      <h3>¿Por qué elegirnos?</h3>        
      <p>Nuestra trayectoria y experiencia en el mercado nos permiten brindarle una solucion acorde con lo que necesita.</p>
    </div>
  </div>
  <br>
</div>

<div class="container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
 		<ol class="carousel-indicators">
   		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
   		<li data-target="#myCarousel" data-slide-to="1"></li>
 		</ol>
		<div class="carousel-inner">
   		<div class="item active">
   			<%= image_tag("clientes1.png") %>
   		</div>
   		<div class="item">
   			<%= image_tag("clientes2.png") %>
   		</div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
    	<span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right"></span>
    	<span class="sr-only">Next</span>
    </a>
  </div>
    <marquee width="99%" direction="left" height="100px">
      <h3>Nuestros Clientes.</h3>
    </marquee>
  <br> 
</div>

<div class="container">
	<%= image_tag("aliados.png", class: "img-responsive") %>
  <marquee width="99%" direction="right" height="100px">
    <h3>Nuestros Aliados.</h3>
  </marquee>
</div>
