<div>
  <div clas="container">
  	<center>
    	<%= image_tag("oferta1.png", :size=>"900x300", class: "img-responsive") %>
   	</center>
  </div>
  <br>
  <div clas="container">
  	<center>
    	<%= image_tag("oferta2.png", :size=>"900x300", class: "img-responsive") %>
   	</center>
  </div>
</div>
