<div class="container">
  <center>
   	<%= image_tag("view.png", class: "img-responsive") %>
    <br>  
    <p>
    Nuestra visión es la busqueda permanente de la excelencia y del liderazgo en el mercado, mediante una reputación como proveedor confiable, efectivo y capaz.</p>
  </center>
</div>