<div class="container">
	<center>
		<%= image_tag("mission.png", class: "img-responsive") %>
    <br>
    <p>
    Nuestra misión es asesorar y proveer a nuestros clientes, con los mejores y mas recientes productos y soluciones del mercado informatico, dentro de un esquema de seriedad, cumplimiento, responsabilidad y trasparencia.</p>
  </center>
</div>
