<div class="container">
 	<center>
  	<%= image_tag("uptime.png", :size=>"1150x300", class: "img-responsive") %>
    <br>
    <p id="text3">
    	UpTime convierte a PC Health en el administrador de TI de su empresa o bien, en su coordinador de sistemas, con una serie de beneficios que aventajan el modelo de contratación de recurso humano vinculado.
    	<br>
  		<br>
    	UpTime esta diseñado para ajustarse a las políticas de su empresa y, con base a ellas, definir políticas de seguridad y control de acceso a la información. UpTime modela su infraestructura y la enfoca al futuro, acorde con el crecimiento de su empresa.
    </p>
  </center>
</div>
