<div class="container">
 	<center>
  	<%= image_tag("security.png", :size=>"1150x300", class: "img-responsive") %>
    <br>
    <p id="text3">
    	Una cadena es tan fuerte como el eslabón más debil. De igual forma se comporta la plataforma de las entidades. Internamente podemos tener unas políticas claras y definidas, pero si no tenemos un protección para ataques externos, la información puede ser vulnerada. Es por eso que PC Health ofrece los servicios de instalación y administración de seguridad perimetral, el cual se encarga de proteger nuestra red de ataques externos, y antivirus, el cual protege nuestros equipos de cómputo y servidores.
    </p>
  </center>
</div>

