<div class="container">
 	<center>
  	<%= image_tag("outsourcing.png", :size=>"1150x300", class: "img-responsive") %>
    <br>
    <p id="text3">
    	Ofrecemos el servicio de Outsourcing de infraestructura, el cual consiste en situar una persona de nuestra planta en sus instalaciones, la cual se encargará de administrar la totalidad de la plataforma tecnológica de la entidad, contando con el apoyo de todo el grupo de trabajo de PC Health. Esta persona se acojerá a los horarios establecidos por la entidad y se regirá por las normas que establezca la misma.
    </p>
  </center>
</div>