<div class="container">
 	<center>
  	<%= image_tag("backup.png", :size=>"1150x300", class: "img-responsive") %>
    <br>
    <p id="text3">
    	El activo más importante de una empresa es su información y PC Health, pensando en esto, ofrece servicios para la realización de copias de seguridad, bien sea en la misma infraestructura de la entidad o almacenados directamente en la nube. De esta forma se asegura que la información vital de la entidad esta debidamente respaldada, bajo planes debidamente configurados y pensados según la necesidad de la entidad.
    </p>
  </center>
</div>

