<div class="container">
 	<center>
  	<%= image_tag("licensing.png", :size=>"1150x300", class: "img-responsive") %>
    <br>
    <p id="text3">
    	Debido a las regulaciones gubernamentales que se han implementado en nuestro pais, para PC Health es primordial asegurar el entorno tecnológico de sus clientes mediante el correcto licenciamiento de todos los productos con los que cuente la entidad, además de productos que se planean adquirir. Es por esto que PC Health cuenta con personas especializadas en licenciamiento de todo tipo de producto o software que las entidades puedan manejar, además de tener contacto directo con los fabricantes y distribuidores</p>
    </p>
  </center>
</div>

