<div class="container">
 	<center>
  	<%= image_tag("telecommunications.png", :size=>"1150x300", class: "img-responsive") %>
    <br>
    <p id="text3">
    	Pensando en la estabilidad y el aprovechamiento de los recursos financieros de su empresa, PC Health ofrece el servicio de implementación y administración de telefonía IP. Con esta tecnología se pueden disminuir considerablemente los costos por consumo de líneas telefónicas y celulares, asegurando la estabilidad que requiere la entidad.</p>
  </center>
</div>

