<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_Pro, label:'CC - CE' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Pro, label:'Nombres' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.input :apellido_Pro, label:'Apellidos'  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-8">
      <%= f.input :direccion_Pro, label:'Dirección' %>
    </div>
    <div class="col-md-2 col-lg-4">
      <%= f.input :telefono_Pro, label:'Telefono' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :department, label:'Departamento' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.association :municipality, label:'Municipio' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :user, label:'Correo Electronico' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.association :rol, label:'Rol' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.association :company, label:'Empresa' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.association :subsidiary, label:'Sucursal' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :estado_Pro, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
  



