<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Usuario</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>CC - CE:</strong>
          <%= @profile.codigo_Pro %>
        </p>
        <p>
          <strong>Nombres:</strong>
          <%= @profile.nombre_Pro %>
        </p>  
        <p>    
          <strong>Apellidos:</strong>
          <%= @profile.apellido_Pro %>
        </p>
        <p>
          <strong>Dirección:</strong>
          <%= @profile.direccion_Pro %>          
        </p>
        <p>
          <strong>Municipio:</strong>
          <%= @profile.municipality.nombre_Mun %>
        </p>
        <p>
          <strong>Departamento:</strong>
          <%= @profile.department.nombre_Dep %>
        </p>
        <p>
          <strong>Telefono:</strong>
          <%= @profile.telefono_Pro %>
        </p>
        <p>
          <strong>Empresa:</strong>
          <%= @profile.company.nombre_Com %>
        </p>
        <p>
          <strong>Sucursal:</strong>
          <%= @profile.subsidiary.nombre_Sub %>
        </p>
        <p>
          <strong>Correo Electronico:</strong>
          <%= @profile.user.email %>
        </p>
        <p>
          <strong>Rol:</strong>
          <%= @profile.rol.nombre_Rol %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @profile.estado_Pro ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', profiles_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>