<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  
  <div Class=pandora >
    <div class="modal-content">
      <div class="container" >
        <h1>Actualizar Perfil</h1>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <%= f.input :codigo_Pro, label:'CC - CE' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <%= f.input :nombre_Pro, label:'Nombres' %>
          </div>
          <div class="col-md-2 col-lg-6">
            <%= f.input :apellido_Pro, label:'Apellidos'  %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <%= f.input :telefono_Pro, label:'Telefono' %>
          </div>
          <div class="col-md-2 col-lg-6">
            <%= f.input :user, input_html: { value: @profile.user.email }, label:'Correo Electronico' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <%= f.input :direccion_Pro, label:'Dirección' %>
          </div>
        </div>  
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <%= f.association :department, label:'Departamento' %>
          </div>
          <div class="col-md-2 col-lg-6">
            <%= f.association :municipality, label:'Municipio' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <%= f.association :company, label:'Empresa' %>
          </div>
          <div class="col-md-2 col-lg-6">
            <%= f.association :subsidiary, label:'Sucursal' %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'Guardar'%>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', tasks_path, class: "btn btn-default" %>   
      </div>
    </div>  
  </div>  
<% end %>