<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div Class=pandora>
  <div class="modal-content" >
    <div class="container" >
      <div class="card">
        <div class="card-block">
          <br>
          <%= form_tag profiles_path, class: "form-inline", role: "form",  method: 'get' do %>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group"> 
              <%= search_field_tag :search, params[:search], :class => "form-control",
                placeholder: "Digite Cedula o Nombre o Apellido a buscar ...", size: "50" %>
            </div>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info"> Buscar </button>
          <% end %>
          <br>
        </div>
      </div>
      <h1>&nbsp;USUARIOS</h1>
      <div>&nbsp;
        <td><%= link_to 'Nuevo', new_profile_path, remote: true, class: "btn btn-success" %></td>
      </div>
      <div class = "card shadow mb-4">
        <div class = "card body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>CC - CE</th>
                  <th>NOMBRES</th>
                  <th>APELLIDOS</th>
                  <th colspan="4"></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <td><%= profile.codigo_Pro %></td>
                    <td><%= profile.nombre_Pro %></td>
                    <td><%= profile.apellido_Pro %></td>
                    <td><%= link_to 'Detalles', profile, remote: true, class: "btn btn-info" %></td>
                    <td><%= link_to 'Actualizar', edit_profile_path(profile), remote: true, class: "btn btn-warning" %></td>
                    <td><%= link_to 'Eliminar', profile, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <br>
        </div>
        &nbsp;&nbsp; Usuarios: <%= @profiles.count %> 
        <br>
        &nbsp;&nbsp; <%= will_paginate @profiles, :previous_label=> 'Anterior&nbsp;', :next_label=> '&nbsp;Siguiente' %>
      </div>
    </div>
  </div>
</div>