<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<form>
  <div Class=pandora >
    <div class="modal-content">
      <div class="container" >
      <h1>TU PERFIL</h1>
      <br>
      <br>
        <div class="row">
          <div class="col-md-2 col-lg-12">
            <p>
              <strong>CC - CE:</strong>
              <%= @profile.codigo_Pro %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>NOMBRES:</strong>
              <%= @profile.nombre_Pro %>
            </p> 
          </div> 
          <div class="col-md-2 col-lg-6">
            <p>    
              <strong>APELLIDOS:</strong>
              <%= @profile.apellido_Pro %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>TELEFONO:</strong>
              <%= @profile.telefono_Pro %>
            </p>
          </div> 
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>CORREO ELECTRÓNICO:</strong>
              <%= @profile.user.email %>
            </p>
          </div>
        </div>      
        <div class="row">
          <div class="col-md-2 col-lg-12">
            <p>
              <strong>DIRECCIÓN:</strong>
              <%= @profile.direccion_Pro %>          
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>MUNICIPIO:</strong>
              <%= @profile.municipality.nombre_Mun %>
            </p>
          </div>
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>DEPARTAMENTO:</strong>
              <%= @profile.department.nombre_Dep %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>EMPRESA:</strong>
              <%= @profile.company.nombre_Com %>
            </p>
          </div> 
          <div class="col-md-2 col-lg-6">
            <p>
              <strong>SUCURSAL:</strong>
              <%= @profile.subsidiary.nombre_Sub %>
            </p>
          </div>
        </div>
        <br>
        <%= link_to 'Actualizar Perfil', edit_profile_path(@profile), {class: "btn btn-warning"} %>
        <br>
        <br>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', tasks_path, class: "btn btn-default" %>   
      </div>
    </div>
  </div>
</form>  


