<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles Categoría </h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo:</strong>
          <%= @cp_category.codigo_CP %>
        </p>
        <p>
          <strong>Categoría Productos:</strong>
          <%= @cp_category.nombre_CP %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%=  @cp_category.estado_CP  ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', cp_categories_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
