<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div Class=pandora >
  <div class="modal-content" >
    <div class="container" >     
      <div class="card" > 
        <div class="card-block" >
          <br>
          <%= form_tag cp_categories_path, class: "form-inline", role: "form",  method: 'get' do %>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
              <%= search_field_tag :search, params[:search], :class => "form-control",
              placeholder: "Digite el Código o Nombre de la categoría a buscar ...", size: "50" %>
            </div>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info"> Buscar </button>
          <% end %>
          <br>
        </div>
      </div>
      <h1>&nbsp;CATEGORÍAS DE PRODUCTOS</h1>
      <div>&nbsp;
        <td><%= link_to 'Nuevo', new_cp_category_path, remote: true, class: "btn btn-success" %></td>
      </div>
      <div class = "card shadow mb-4" >
        <div class = "card body" >
          <div class="table-responsive">
            <table class="table"remote: true>
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Categoría</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @cp_categories.each do |cp_category| %>
                  <tr>
                    <td><%= cp_category.codigo_CP %></td>
                    <td><%= cp_category.nombre_CP %></td>
                    <td><%= link_to 'Detalles', cp_category, remote: true, class: "btn btn-info" %></td>
                    <td><%= link_to 'Actualizar', edit_cp_category_path(cp_category), remote: true, class: "btn btn-warning" %></td>
                    <td><%= link_to 'Eliminar', cp_category, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <br>
        </div>
        &nbsp;&nbsp; Categorias: <%= @cp_categories.count %> 
        <br>
        &nbsp;&nbsp; <%= will_paginate @cp_categories, :previous_label=> 'Anterior&nbsp;', :next_label=> '&nbsp;Siguiente' %>
      </div>
    </div>       
  </div>
</div>
