<%= simple_form_for(@model) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_Mod, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :cm_category, label:'Categoría' %>
    </div> 
    <div class="col-md-2 col-lg-6">
      <%= f.association :maker, label:'Fabricante' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :brand, label:'Marca' %>
    </div>   
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Mod, label:'Modelo' %>
    </div>   
  </div>  
  <div class="form-group">
    <%= f.input :estado_Mod, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>



