
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Modelo</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @model.codigo_Mod %>
        </p>
        <p>
          <strong>Categoría:</strong>
          <%= @model.cm_category.cp_category.nombre_CP %>
        </p>
        <p>
          <strong>Sub Categoría:</strong>
          <%= @model.cm_category.nombre_CM %>
        </p>
        <p>
          <strong>Fabricante:</strong>
          <%= @model.maker.nombre_Mak %>
        </p>
        <p>
          <strong>Marca:</strong>
          <%= @model.brand.nombre_Bra %>
        </p>
        <p>
          <strong>Modelo:</strong>
          <%= @model.nombre_Mod %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @model.estado_Mod ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', models_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
