
    <h2>Actualizar <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, 'Correo Electrónico' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Actualmente esperando confirmación para: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label :password %> <i>(déjelo en blanco si no desea cambiarlo)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> Caracteres Mínimo</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :current_password %> <i>(Necesitamos su contraseña actual para confirmar sus cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Aceptar" %>
      </div>
    <% end %>
    <br>
    <h3>Cancelar Mí Cuenta</h3>
    <p>Insatisfecho? <%= button_to "Cancelar Cuenta", registration_path(resource_name), data: { confirm: "Está Seguro?" }, method: :delete %></p>
    <%= link_to "Regresar", :back %>
