<div Class=pandora>
  <div class="modal-content" align="center">
    <h2>Regístrate</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, 'Correo Electrónico' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, 'Contraseña' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> Caracteres Mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Aceptar" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    <br>
  </div>
</div>

