<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles de la Tarea</h1>

      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo</strong>
          <%= @task.codigo_Tas %>
        </p>
        <p>
          <strong>Tarea:</strong>
          <%= @task.nombre_Tas %>
        </p>
        <p>
          <strong>Ciclo:</strong>
          <%= @task.cycle.nombre_Cyc %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @task.descripcion_Tas %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @task.estado_Tas ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>

      <div class="modal-footer">
        <%= link_to 'Regresar', tasks_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>