
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Tipo</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @service_type.codigo_Typ %>
        </p>
        <p>
          <strong>Tipo de Servicio:</strong>
          <%= @service_type.nombre_Typ %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @service_type.descripcion_Typ %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @service_type.estado_Typ ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', service_types_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>