<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div Class=pandora>
  <div class="modal-content" >
    <div class="container" >
      <div class="card">
        <div class="card-block">  
          <br>
          <%= form_tag service_types_path, class: "form-inline", role: "form",  method: 'get' do %>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
              <%= search_field_tag :search, params[:search], :class => "form-control",
                placeholder: "Ingrese el Código o Nombre del Tipo de Servicio a buscar ...", size: "50" %>
            </div>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info"> Buscar </button>
          <% end %>
          <br>
        </div>
      </div>
      <h1>&nbsp;TIPOS DE SERVICIO</h1>
      <div>&nbsp;
        <td><%= link_to 'Nuevo', new_service_type_path, remote: true, class: "btn btn-success" %></td>
      </div>
      <div class = "card shadow mb-4">
        <div class = "card body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Tipo de Servicio</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @service_types.each do |service_type| %>
                  <tr>
                    <td><%= service_type.codigo_Typ %></td>
                    <td><%= service_type.nombre_Typ %></td>
                    <td><%= link_to 'Detalles', service_type, remote: true, class: "btn btn-info" %></td>
                    <td><%= link_to 'Actualizar', edit_service_type_path(service_type), remote: true, class: "btn btn-warning" %></td>
                    <td><%= link_to 'Eliminar', service_type, method: :delete, data: { confirm: "¿Está seguro de eliminar: #{service_type.nombre_Typ}?" }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <br>
        </div>
        &nbsp;&nbsp; Tipos de Servicios: <%= @service_types.count %> 
        <br>
        &nbsp;&nbsp; <%= will_paginate @service_types, :previous_label=> 'Anterior&nbsp;', :next_label=> '&nbsp;Siguiente' %>
      </div>
    </div>
  </div>
</div>

