<div Class=pandora>
  <div class="modal-content" align="center">
  <h2>Reenviar instrucciones de desbloqueo</h2>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, 'Correo Electrónico' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="actions">
        <%= f.submit "Re enviarme Instrucciones" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    <br>
  </div>
</div>
