<div Class=pandora>
  <div class="modal-content" align="center">
    <h2>Cambia tu Contraseña</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="field">
        <%= f.label :password, "Nueva Contraseña" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmar Nueva Contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Cambiar Contraseña" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    <br>
  </div>
</div>
