
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Estado</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @order_state.codigo_Ost %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @order_state.nombre_Ost %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @order_state.descripcion_Ost %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @order_state.estado_Ost ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', order_states_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

