
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Ciclo</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo:</strong>
          <%= @cycle.codigo_Cyc %>
        </p>
        <p>
          <strong>Ciclo:</strong>
          <%= @cycle.nombre_Cyc %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @cycle.estado_Cyc ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', cycles_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>