<%= simple_form_for(@department) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <%= f.input :codigo_Dep, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Dep, label:'Departamento' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.input :descripcion_Dep, label:'Descripción' %>
    </div>
  </div>  
  <div class="form-group">
    <%= f.input :estado_Dep, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>






