
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Departamento</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo:</strong>
          <%= @department.codigo_Dep %>
        </p>
        <p>
          <strong>Departamento:</strong>
          <%= @department.nombre_Dep %>
        </p>
        <p>
          <strong>Descripcion:</strong>
          <%= @department.descripcion_Dep %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @department.estado_Dep ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', departments_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
