<%= simple_form_for(@subsidiary) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_Sub, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :company, label:'Empresa' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Sub, label:'Sucursal' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :telefono_Sub, label:'Telefono' %>
    </div>
    <div class="col-md-2 col-lg-8">
      <%= f.input :direccion_Sub, label:'Dirección' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :department, label:'Departamento' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.association :municipality, label:'Municipio' %>
    </div>
  </div> 
  <div class="form-group">
    <%= f.input :estado_Sub, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>




