<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles de la Sucursal</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @subsidiary.codigo_Sub %>
        </p>
        <p>
          <strong>Empresa:</strong>
          <%= @subsidiary.company.nombre_Com %>
        </p>
        <p>
          <strong>Sucursal:</strong>
          <%= @subsidiary.nombre_Sub %>
        </p>
        <p>
          <strong>Telefono:</strong>
          <%= @subsidiary.telefono_Sub %>
        </p>
        <p>
          <strong>Dirección:</strong>
          <%= @subsidiary.direccion_Sub %>
        </p>
        <p>
          <strong>Departamento:</strong>
          <%= @subsidiary.department.nombre_Dep %>
        </p>
        <p>
          <strong>Municipio:</strong>
          <%= @subsidiary.municipality.nombre_Mun %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @subsidiary.estado_Sub ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', subsidiaries_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>