<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Rol</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo:</strong>
          <%= @rol.codigo_Rol %>
        </p>
        <p>
          <strong>Rol:</strong>
          <%= @rol.nombre_Rol %>
        </p>
        <p>
          <strong>Descripcion:</strong>
          <%= @rol.descripcion_Rol %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @rol.estado_Rol ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', rols_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>