<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div Class=pandora>
  <div class="modal-content" >
    <div class="container" >
      <div class="card">
        <div class="card-block">  
          <br>
          <%= form_tag rols_path, class: "form-inline", role: "form",  method: 'get' do %>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
              <%= search_field_tag :search, params[:search], :class => "form-control",
                placeholder: "Digite el Código o Nombre del Rol a buscar ...", size: "50" %>
            </div>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info"> Buscar </button>
          <% end %>
          <br>
        </div>
      </div>
      <h1>&nbsp;ROLES</h1>
      <div>&nbsp;
        <td><%= link_to 'Nuevo', new_rol_path, remote: true, class: "btn btn-success" %></td>
      </div>
      <div class = "card shadow mb-4">
        <div class = "card body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Rol</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @rols.each do |rol| %>
                  <tr>
                    <td><%= rol.codigo_Rol %></td>
                    <td><%= rol.nombre_Rol %></td>
                    <td><%= link_to 'Detalles', rol, remote: true, class: "btn btn-info" %></td>
                    <td><%= link_to 'Actualizar', edit_rol_path(rol), remote: true, class: "btn btn-warning" %></td>
                    <td><%= link_to 'Eliminar', rol, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <br>
        </div>
        &nbsp;&nbsp; Roles: <%= @rols.count %> 
        <br>
        &nbsp;&nbsp; <%= will_paginate @rols, :previous_label=> 'Anterior&nbsp;', :next_label=> '&nbsp;Siguiente' %>
      </div>
    </div>
  </div>
</div>




