
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles de la Empresa</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Nit / Rut:</strong>
          <%= @company.codigo_Com %>
        </p>
        <p>
          <strong>Empresa:</strong>
          <%= @company.nombre_Com %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @company.descripcion_Com %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @company.estado_Com ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', companies_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
