<div > 
  <div class="modal-content" align="center">
    <h2>Iniciar Sesión</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :Email, 'Correo Electrónico' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password, 'Contraseña' %><br />
        <%= f.password_field :password, autocomplete: "password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Recuerdáme'  %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Ingresar" %>
      </div>
    <% end %>
    <br>
      <%= render "devise/shared/links" %>
    <br> 
  </div>
</div>
 


