
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Estado</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @service_state.codigo_Sta %>
        </p>
        <p>
          <strong>Estado de Servicio:</strong>
          <%= @service_state.nombre_Sta %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @service_state.descripcion_Sta %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @service_state.estado_Sta ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', service_states_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>