<%= simple_form_for(@municipality) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <%= f.input :codigo_Mun, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :department, label:'Departamento' %>
    </div>  
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Mun, label:'Municipio' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.input :descripcion_Mun, label:'Descripción' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :estado_Mun, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>

