
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Municipio</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @municipality.codigo_Mun %>
        </p>
        <p>
          <strong>Departamento:</strong>
          <%= @municipality.department.nombre_Dep %>
        </p>
        <p>
          <strong>Municipio:</strong>
          <%= @municipality.nombre_Mun %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @municipality.descripcion_Mun %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @municipality.estado_Mun ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', municipalities_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
