@import "bootstrap";
@import "font-awesome";
@import "bootstrap/glyphicons";

main {
  @extend .container;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 10px; // accommodate the navbar
}

#text3{
  text-align: justify;    
}

#buttom1{
  background: #FF0000;
  border: 1px solid #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  bottom: 70px;
  color:whitesmoke;
  font-size: 17px;
  font-weight: bold;
  float: left;
  height: 35px;
  position: relative;
  text-align: center;
  left: auto;
  right: auto;
  margin-left: 120px;
  width: 120px;
  z-index: 15;
}


footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #FFFFFF;
  background-color: #000000;
}

footer a {
  color: #FFFFFF;
}  

footer a:hover {
  color: #FF0000;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}