<%= simple_form_for(@brand) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-2 col-lg-3">
      <%= f.input :codigo_Bra, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.association :maker, label:'Fabricante' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Bra, label:'Marca' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :estado_Bra, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>

