<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">  
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles de la Marca</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Codigo</strong>
          <%= @brand.codigo_Bra %>
        </p>
        <p>
          <strong>Fabricante:</strong>
          <%= @brand.maker.nombre_Mak %>
        </p>
        <p>
          <strong>Marca:</strong>
          <%= @brand.nombre_Bra %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @brand.estado_Bra ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', brands_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
