<p>Bienvenido <%= @email %>!</p>

<p>Puede confirmar el correo electrónico de su cuenta a través del siguiente enlace:</p>

<p><%= link_to 'Confirmar Mí Correo', confirmation_url(@resource, confirmation_token: @token) %></p>
