<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada debido a un número excesivo de intentos fallidos de inicio de sesión.</p>

<p>Haga clic en el siguiente enlace para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear Mí Cuenta', unlock_url(@resource, unlock_token: @token) %></p>
