<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Actualizar Fabricante</h1>
      </div>
      <div class="modal-body">
		    <%= render 'form', maker: @maker %>
      </div>
      <div class="modal-footer">
		    <%= link_to 'Regresar', makers_path, class: "btn btn-default" %>   
      </div>
    </div>
  </div>
</div>