<%= simple_form_for(@maker) do |f| %>
  <%= f.error_notification %> 
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_Mak, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.input :nombre_Mak, label:'Fabricante' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :estado_Mak, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
