
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Fabricante</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @maker.codigo_Mak %>
        </p>
        <p>
          <strong>Fabricante:</strong>
          <%= @maker.nombre_Mak %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @maker.estado_Mak ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', makers_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
