<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_Prod, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.input :descripcion_Prod, label:'Descripción' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.input :cantidad_Prod, label:'Cantidad' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.association :model, label:'Modelo' %>     
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.association :location, label:'Bodega' %>
    </div>
  </div>    
  <div class="form-group">
    <%= f.input :estado_Prod, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>

