<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles del Producto</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @product.codigo_Prod %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @product.descripcion_Prod %>
        </p>
        <p>
          <strong>Cantidad:</strong>
          <%= @product.cantidad_Prod %>
        </p>
        <p>
          <strong>Modelo:</strong>
          <%= @product.model.nombre_Mod %>
        </p>
        <p>
          <strong>Bodega:</strong>
          <%= @product.location.nombre_Loc %>
        </p>
        <p>
          <strong>Estado:</strong>
          <%= @product.estado_Prod ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', products_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>