<% if notice == nil %>
  <p id="notice"><%= notice %></p>
<% else %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div Class=pandora>
  <div class="modal-content" >
    <div class="container" >
      <div class="card">
        <div class="card-block">
          <br>
          <%= form_tag products_path, class: "form-inline", role: "form",  method: 'get' do %>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group"> 
              <%= search_field_tag :search, params[:search], :class => "form-control",
                placeholder: "Digite Codigo a buscar ...", size: "50" %>
            </div>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info"> Buscar </button>
          <% end %>
          <br>
        </div>
      </div>
      <h1>&nbsp;PRODUCTOS</h1>
      <div>&nbsp;
        <td><%= link_to 'Nuevo', new_product_path, remote: true, class: "btn btn-success" %></td>
      </div>
      <div class = "card shadow mb-4">
        <div class = "card body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>CODIGO</th>
                  <th>CATEGORÍA</th>
                  <th>FABRICANTE</th>
                  <th>MARCA</th>
                  <th>MODELO</th>
                  <th colspan="4"></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td><%= product.codigo_Prod %></td>
                    <td><%= product.model.cm_category.nombre_CM %></td>
                    <td><%= product.model.brand.maker.nombre_Mak %></td>
                    <td><%= product.model.brand.nombre_Bra %></td>
                    <td><%= product.model.nombre_Mod %></td>
                    <td><%= link_to 'Detalles', product, remote: true, class: "btn btn-info" %></td>
                    <td><%= link_to 'Actualizar', edit_product_path(product), remote: true, class: "btn btn-warning" %></td>
                    <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <br>
        </div>
        &nbsp;&nbsp; Productos: <%= @products.count %>
        <br>
        &nbsp;&nbsp; <%= will_paginate @products, :previous_label=> 'Anterior&nbsp;', :next_label=> '&nbsp;Siguiente' %>
      </div>
    </div>
  </div>
</div>



