<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo prod:</strong>
  <%= @product.codigo_Prod %>
</p>

<p>
  <strong>Descripcion prod:</strong>
  <%= @product.descripcion_Prod %>
</p>

<p>
  <strong>Cantidad prod:</strong>
  <%= @product.cantidad_Prod %>
</p>

<p>
  <strong>Estado Prod:</strong>
  <%= @product.estado0_Ord %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
