<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>  
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <%= f.input :codigo_Loc, label:'Código' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-6">
      <%= f.input :nombre_Loc, label:'Bodega' %>
    </div>
    <div class="col-md-2 col-lg-6">
      <%= f.association :subsidiary, label:'Sucursal' %>
    </div>     
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-12">
      <%= f.input :descripcion_Loc, label:'Descripción' %>
    </div>   
  </div>  
  <div class="form-group">
    <%= f.input :estado_Loc, label:'Estado', as: :radio_buttons, collection: [['ACTIVO', 'true'], ['INACTIVO', 'false']] %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>

