
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Detalles de la Bodega</h1>
      </div>
      <div class="modal-body">
        <p>
          <strong>Código:</strong>
          <%= @location.codigo_Loc %>
        </p>
        <p>
          <strong>Bodega :</strong>
            <%= @location.nombre_Loc %>
        </p>
        <p>
          <strong>Descripción:</strong>
          <%= @location.descripcion_Loc %>
        </p>
        <p>
          <strong>Sucursal:</strong>
          <%= @location.subsidiary.nombre_Sub %>
        </p>        
        <p>
          <strong>Estado:</strong>
          <%= @location.estado_Loc ? 'ACTIVO' : 'INACTIVO'%>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Regresar', locations_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>