<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "PORTAL WEB COMPAÑIA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PC HEALTH" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
 
    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #2e86c1;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #f1f1f1;
      display: block;
    }

    .sidenav a:hover {
      color:  #34495e;
    }

    .main {
      margin-left: 200px; /* Same as the width of the sidenav */
      font-size: 14px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  </style>
  <body>
    <div class="sidenav" >   
      <div align="center">
        <%= image_tag "Phoenix3.png", class: "img-circle", size: "110x100"%>
      </div>
      <br>
      <a href="#home"><i class="fa fa-fw fa-home"></i> Phoenix </a>
      <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
      <a href="#clients"><i class="fa fa-fw fa-users"></i> Clients</a>
      <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </div>
    <br>
    <div class="main">
      <div class="modal-content">
        <nav class="navbar navbar-expand-lg navbar-white bg-transparent">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to('PC-Health', static_pages_index_path) %> </li>
                  <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% if current_user.profile.nombre_Pro.nil? %>
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                          <%= current_user.email %>                      
                        </span>
                      <% else %>
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                          <%= current_user.profile.nombre_Pro %>                              
                        </span>
                      <% end  %>                      
                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                      <div>  
                        <%= link_to profile_path(current_user.email, :var => "true"), html_options: {class: "dropdown-item"} do %>
                          <i class="fa fa-id-badge fa-sm fa-fw mr-2 text-gray-400"></i>
                          Perfil
                        <% end %>    
                      </div>  
                      <div>
                        <a class="dropdown-item" href="#">
                        <%= link_to destroy_user_session_path, method: :delete, html_options: {class: "dropdown-item"} do %>
                          <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                          Salir
                        <% end %>
                        </a>
                      </div>
                  </li> 
                <% end %>
              </ul>
            </form>
          </div>
        </nav>
      </div>
      <br>
      <%= yield %>
      <br>
    </div>
  </body>
</html> 


