<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "PC HEALTH" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PC HEALTH" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%=image_tag("pch.jpg", class: "img-responsive") %>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"> <a href= "<%= static_pages_index_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> PC Health </a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">¿Quienes Somos?<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href=<%= static_pages_our_mission_path %>>Nuestra Misión</a></li>
                    <li><a href=<%= static_pages_our_vision_path %>>Nuestra Visión</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href=<%= static_pages_service_uptime_path %>> Uptime </a></li>
                    <li><a href=<%= static_pages_service_outsourcing_path %>> Outsoursing </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href=<%= static_pages_service_licensing_path %>> Licenciamiento </a></li>
                    <li><a href=<%= static_pages_service_telecommunications_path %>> Telecomunicaciones </a></li>
                    <li><a href=<%= static_pages_service_security_path %>> Seguridad y Antivirus </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href=<%= static_pages_service_backup_path %>> Backup in Site or Cloud </a></li>
                  </ul>
                </li>
              <li><a href=<%= static_pages_news_offers_path %>> Noticias y Ofertas </a></li>
              <li><a href="#">Contactenos</a></li>
            </ul>
          </div>
        </div>
      </nav>      
    </header>
    <main style="width:20%" align="center">
      <% if notice == nil %>
        <p id="notice"><%= notice %></p>
        <% if alert == nil %>
          <p class="alert"><%= alert %></p>
        <% else %>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p class="alert"><%= alert %></p>
          </div>
        <% end %>    
      <% else %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>
      <%= yield %> 
    </main>
    <footer class="foot bg-dark text-white">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><span class="glyphicon glyphicon-home"></span> Cra43 #10-45, Medellín - Colombia</p> 
            <p><span class="glyphicon glyphicon-envelope"></span> info@pchealth.com</p> 
            <p><span class="glyphicon glyphicon-phone"></span> 3006117495</p> 
            <p><span class="glyphicon glyphicon-print"></span> 4443515</p>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Servicios</h6>
            <p>
              <a class="dropdown-item"><%= link_to 'Uptime', static_pages_service_uptime_path %></a>
            </p>
            <p>
              <a><%= link_to 'Telecomunicaciones', static_pages_service_telecommunications_path %></a>
            </p>
            <p>
              <a><%= link_to 'Outsourcing en Infraestructura', static_pages_service_outsourcing_path %></a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Enlaces de Interes</h6>
            <p>
              <a><%= link_to 'Noticias y Ofertas', static_pages_news_offers_path %></a>
            </p>
            <p>
              <a id=itemfoot data-toggle="modal" data-target="#myModal1" > Aviso de Privacidad </a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6>SIRVIENDO CON RESPONSABILIDAD, CALIDAD Y PRINCIPIOS</h6>
          </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left">PC Health© todos los derechos reservados 2020</p>
          </div>
          <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://es-la.facebook.com/login/" target="_blank"><i class="fa fa-2x fa-facebook" ></i></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/login?lang=es" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://plus.google.com/discover?hl=es" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://co.linkedin.com/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="myModal1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">AVISO DE PRIVACIDAD</h4>
          </div>
          <div class="modal-body">
            <p id="text4">PC Health se permite informar que:<br>
            <br>
            En cumplimiento a lo estipulado en la Ley 1581 de 2012 y a lo previsto en el numeral 3 y el parágrafo del artículo 10 del Decreto 1377 de 2013, con el objeto de informar a todas las personas cuyos datos personales se encuentran en nuestras bases de datos, y teniendo en cuenta la imposibilidad de solicitar autorización en forma individual, PC Health informa que hace uso del mecanismo alternativo establecido en el citado numeral y manifiesta que los datos personales incluidos en nuestras bases de datos se han recopilado para el desarrollo de diversos procedimientos relacionados directamente con su objeto social. Para efecto de tratamiento de los datos personales que usted como 
            titular suministró o suministrará a PC Health a través de los medios o herramientas dispuestas para su recolección, acepta y autoriza a PC Health a utilizar y tratar sus datos personales, los cuales formaran parte de nuestra base de datos con las finalidades de acuerdo con la política de tratamiento implementada en cumplimento a su objeto
            social y de la normativa jurídicas vigentes. El tratamiento de los mismos, se efectuaran bajo procesos de responsabilidad donde prime la protección de los datos personales. Cualquier dato personal registrados en nuestras base de datos, en todo caso, cualquier momento el titular de la información podrá revocar sin consentimiento y ejercer su derecho a la supresión de datos personales consagrado en la ley 1581 de 2012.<br>
            <br>
            NOMBRE Y DOMICILIO DEL RESPONSABLE DE LOS DATOS PERSONALES: PC Health sociedad debidamente constituida y existente de conformidad con las leyes de la Republica de Colombia, identificada con NIT. XXX-XXX-XXX-X con domicilio en la Cra43 #10-120 de Medellín Antioquia.<br>
            <br>
            FINALIDADES Y USO DE SUS DATOS PERSONALES: Las Finalidades y Usos de sus Datos Personales se encuentran debidamente descritos en nuestra política de tratamiento de información.<br>
            <br>
            PC Health se reserva el derecho a modificar los términos condiciones de este aviso de privacidad. PC Health se reserva el derecho a modificar los términos y condiciones de este aviso de privacidad. Dichas modificaciones se notificaran a través de comunicación directa, correo electrónicos, pagina web etc.<br>
            <br>
            Este Aviso de Privacidad, el tratamiento de sus Datos Personales y/o todos los documentos relacionados se rigen por la normatividad jurídica vigente de Protección de Datos personales en Colombia.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>